<%= simple_form_for [current_user, @photo] do |f| %>
<div>
	<%= f.input :image, placeholder: 'insert image URL here' %>
</div>

<div>
	<%= f.input :public %>
</div>

<div>
	<%= f.input :caption, placeholder: 'type your caption here' %>
</div>

<div>
	<%= f.button :submit %>
</div>

<% end %>